<section class="content-header">
    <h1>Add Client<small>Add a new client</small></h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.clientlist">Cients List</a></li>
        <li class="active">Add Cient</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Client</h3>
                </div>
                <form class="form-horizontal" name="roleForm" ng-submit="vm.save(roleForm.$valid, roleForm)" novalidate>
                    <div class="box-body">
                        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': roleForm.fname.$invalid && ( vm.formSubmitted || roleForm.fname.$touched) }">
                            <label for="inputEmail3" class="col-sm-2 control-label">First name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.fname" name="fname" placeholder="First name" required>
                                <p ng-show="roleForm.role.$error.required && ( vm.formSubmitted || roleForm.role.$touched)" class="help-block">First Name is required. </p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': roleForm.mname.$invalid && ( vm.formSubmitted || roleForm.mname.$touched) }">
                            <label for="inputEmail3" class="col-sm-2 control-label">Middle name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.mname" name="mname" placeholder="Middle name" required>
                                <p ng-show="roleForm.role.$error.required && ( vm.formSubmitted || roleForm.role.$touched)" class="help-block">Middle Name is required. </p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': roleForm.lname.$invalid && ( vm.formSubmitted || roleForm.lname.$touched) }">
                            <label for="inputEmail3" class="col-sm-2 control-label">Last name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.lname" name="lname" placeholder="Last name" required>
                                <p ng-show="roleForm.role.$error.required && ( vm.formSubmitted || roleForm.role.$touched)" class="help-block">Last name is required. </p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': roleForm.drivinglicence.$invalid && ( vm.formSubmitted || roleForm.drivinglicence.$touched) }">
                            <label for="inputEmail3" class="col-sm-2 control-label">Driving Licence</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.drivinglicence" name="drivinglicence" placeholder="Driving Licence" required>
                                <p ng-show="roleForm.role.$error.required && ( vm.formSubmitted || roleForm.role.$touched)" class="help-block">Driving Licence is required. </p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': roleForm.idcard.$invalid && ( vm.formSubmitted || roleForm.idcard.$touched) }">
                            <label for="inputEmail3" class="col-sm-2 control-label">ID Card</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.idcard" name="idcard" placeholder="ID card" required>
                                <p ng-show="roleForm.role.$error.required && ( vm.formSubmitted || roleForm.role.$touched)" class="help-block">ID card is required. </p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': roleForm.passport.$invalid && ( vm.formSubmitted || roleForm.passport.$touched) }">
                            <label for="inputEmail3" class="col-sm-2 control-label">Passport</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.passport" name="passport" placeholder="Passport" required>
                                <p ng-show="roleForm.role.$error.required && ( vm.formSubmitted || roleForm.role.$touched)" class="help-block">Passport is required. </p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': roleForm.utilitybill.$invalid && ( vm.formSubmitted || roleForm.utilitybill.$touched) }">
                            <label for="inputEmail3" class="col-sm-2 control-label">Utility Bill</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.utilitybill" name="utilitybill" placeholder="Utility Bill" required>
                                <p ng-show="roleForm.role.$error.required && ( vm.formSubmitted || roleForm.role.$touched)" class="help-block">Utility Bill is required. </p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': roleForm.dob.$invalid && ( vm.formSubmitted || roleForm.dob.$touched) }">
                        <label for="inputEmail3" class="col-sm-2 control-label">Date of Birth</label>
                           <div class="col-sm-10">
                            <p class="input-group">
          <input type="text" name="dob"  class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.dob" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  required />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
                                <p ng-show="roleForm.role.$error.required && ( vm.formSubmitted || roleForm.role.$touched)" class="help-block">Date Of Birth is required. </p>
                            </div>
                        </div>
                   
                        <div class="form-group" ng-class="{ 'has-error': roleForm.ninumber.$invalid && ( vm.formSubmitted || roleForm.ninumber.$touched) }">
                            <label for="inputEmail3" class="col-sm-2 control-label">NI Number</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.ninumber" name="ninumber" placeholder="NI Number" required>
                                <p ng-show="roleForm.role.$error.required && ( vm.formSubmitted || roleForm.role.$touched)" class="help-block">NI Number is required. </p>
                            </div>
                        </div>
                             </div>
                    <div class="box-footer">
                        <a ui-sref="app.clientlist" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back</a>
                        <button type="submit" class="btn btn-primary pull-right">Add New</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
